body{
    margin:0px;
    width: 100%;
    font-family: 'Playfair Display', serif;

}

h1{
    font-size: 40px;
    color: white;
    background-color: rgb(37, 34, 34);
    height:150px;
    width: 700px;
    text-align: center;
}

.back{
    background-image: url("images/vhsimg.jpg");
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

/* HEADER STYLE */
.headerContainer{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 140px;
    top: 0px;
}

.headerRow{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow:row wrap;
    align-items: center;
    
}

.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px;
}

.webshopLogo{
    text-decoration: none;
    color: black;
}

#searchInput{
    width: 200px;
    height: 30px;
    margin-top: 28px;
    text-align: center;
    border: none;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: black;
    background-color: rgb(243, 244, 250);

}
#searchSym{
    background:none;
    border:none;
    font-size: 18px;
    cursor: pointer;
}

#headerItem1{
    margin-right: 100px;
}

.buttonHeader{
    background:none;
    border:none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;

}

/* LOGIN STYLE */

.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 600px;
    background-image: url("images/vhsimg.jpg");

}

.loginBox{
    width:500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    border:1px solid rgb(211, 211, 211);

}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;

}

.loginTextContainer{
    margin:auto;
    margin-top: 80px;
}

.inputLogin{
    width: 230px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    border:none;
    margin-top:5px;
    background-color: white;
}
#inputLoginUser{
    margin-top: -100px;
}

.loginText{
    margin-top: 0px;
}


#loginButton{
    height: 35px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: rgb(130, 184, 255);
    cursor: pointer;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

#loginButton:hover{
    background-color: rgb(109, 156, 218);
}

/*********** SIGNUP STYLE *********/

.signBox{
    width:500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin:auto;
    margin-top:40px;
     display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    border:1px solid rgb(211, 211, 211);
    padding-bottom: 40px;
}

.inputSignUp{
    width: 230px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    border:none;
    margin-top:5px;
    background-color: rgb(224, 224, 224);

}

.signIn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.in1{
    display: flex;
    flex-direction: column;

    /*justify-content: center;*/
}

in2{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.loginForm{
    display: flex;
    justify-content: center;
    margin:auto;

}

#signUpNew{
    height: 40px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    border: none;
    background-color: rgb(130, 184, 255);
    cursor: pointer;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
 
}

.wrapperBox {
    text-align: center; 
     font-family: 'Playfair Display', serif;
     text-align: center;
   
}

.wrapperBox table {
    margin: auto;
   
}
#signUpNew:hover{
    background-color: rgb(109, 156, 218);
}

/** FOOTER STYLE **/

footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    width: 100%;
 
}

.footer {
    height: 100px;
    background-color: rgb(46, 46, 48);
    color: white;
    display:flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.infoBox {
    font-size: 14px;
}


.newsletterBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsLetterInput {
    margin-bottom: 4%;
    height: 20px;
    width: 200px;
    border: 1px solid grey;
}

.newsLetterButton {
    width: 100px;
    height: 30px;
    margin: auto;
    background-color: #155E70;
    color: white;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
}

.alreadySubscribed {
    display: flex;
    flex-direction: column;
}

#wrapper {
    margin-bottom: 200px;
    background-color: rgb(228, 231, 236);
}

/* CART STYLE */
.cartImage{
    width: 50px;
}



/*css för katergorier för filmer*/
.showMoviesDiv{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1000px;
    margin-bottom: 50px;
}

.movieCardDiv {
    /*background-color: green;*/
    margin:10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.kategoriImg{
    width: 200px;
}

.subCategoriesDiv {
    display: flex; 
    flex-flow:row wrap;
    justify-content: center;
    background-color: rgb(72, 72, 77);
    max-width: 100%;
    min-height: 70px;
    align-items: center;
    font-family: 'Playfair Display', serif;

}

/*CSS för meny */
.navbar {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 46, 48);
    color: white;
    min-height: 60px;
    max-width: 100%;
    font-family: 'Playfair Display', serif;
}

.huvudKategoriButton {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.movieYear {
    font-style: italic;
    font-size: 12px;
    color: grey;
    margin: 0px;
}

.subButton {
    border: none;
    outline: none;
    background-color: rgb(72, 72, 77);
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    margin:10px;
    cursor: pointer;
}



#container {
    /*för produkter och produktsida*/
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #E8E8E8;
}

/******kunvagnen******/

.cartContainer{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.cartTable1{
    margin-top:40px;
    width: 90%;
}

.cartTable2{
    margin-top:40px;
}

#remove{
    border:none;
    background: none;
    cursor: pointer;
}

#remove:hover{
    color: rgb(255, 30, 30);
}

/*.cartTable2{
    width: 90%;
}*/

#buy{
    border:none;
    background-color: rgb(92, 240, 158);
    cursor: pointer;
    width: 180px;
    height: 30px;
    margin-top: 20px;
}

#buy:hover{
   background-color:  rgb(58, 223, 132);
}

#totalPrice{
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.cartTitle{
    font-size:30px;
    padding-left:80px;
    padding: 20px 20px;
    font-weight: bold;
}

.cartEmpty{
    background-color: rgb(228, 231, 236);
    color:black;
    margin:auto;
    margin-top: 40px;
}

.cartBox1{
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cartBox2{
    background-color: rgb(240, 240, 240);
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.row1{
    margin: auto;
     width: 100%;
}

.checkOutWrap{
    max-width: 90%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;
}

.checkOutForm{
    max-width: 500px;
  
}

.totalPriceCheckOut{
    margin-top: -200px;
    margin-bottom: 40px;
}

.checkOutWrap2{
    margin: auto;
}

.checkOutFormInput{
    width: 150px;
    height: 30px;
    text-align: center;
    margin:2px;
}

.checkOutNewCustomer{
    border:none;
    background-color: rgb(92, 240, 158);
    cursor: pointer;
    width: 180px;
    height: 30px;
    margin-top: 20px;
    font-size: 16px;

}

/**************************** ADMIN STYLING *************/

.getAllMembersForm{
    text-align: center;
    margin: auto;
}
#adminButtonMeny{
    /* margin: auto; */
    background-color: grey;
    color: white;
    border: none;
    height: 3em;
    font-size: 1em;
    width: 10em;
    
}

.sendOrderButton{
    margin: auto;
    background-color: rgb(4, 117, 89);
    color: white;
    border: none;
    height: 2em;
    font-size: 1em;
}
.sendNewletters, .updateProducts{
    text-align: center;

}

#showOrders, #getMembers, #showAllProducts{
    margin: auto;
    text-align: center;
}

#tableAdmin{
    margin: auto;
}
.welcomeAdmin{
    text-align: center;
}

@media all and (max-width: 600px) {

    .checkOutForm{
        display: flex;
        flex-flow: row wrap;
    }

    .loginBox{
        width:100%;
        height: 400px;
        background-color: grey;
        margin:auto;
        margin-top:40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .headerRow{
        flex-direction: column;
    }
 
    .cartContainer{
     flex-direction: column;
     width: 100%;
    }
 
     .cartBox1, .cartBox2{
     min-width: 100%;
     }
 
     .omOss{
         margin:none;
     }

     .checkOutNewCustomer{
         margin-top:60px;
        
     }

    .movieCardDiv {
        /*background-color: green;*/
        background: linear-gradient(rgb(255, 255, 255), rgb(251, 251, 253));
        padding-top: 20px;
        margin:none;
        min-width: 100%;

    }

}
 
        
     
/* mobil footer style*/

.footer {
    font-size: 11px;
    margin: 0px;
    height: 120px;
}

.infoBox{
    font-size: 11px;
}

.alreadySubscribed {
   
}

#newsletterBox {
    text-align: center;
}

.newsLetterInput {
    margin-bottom: 4%;
    height: 15px;
    width: 70px;
    border: 1px solid grey;
}

.newsLetterButton {
    width: 50px;
    height: 20px;
   /* margin: auto;*/
    background-color: #155E70;
    color: white;
    font-size: 11px;
    border: 1px solid black;
    border-radius: 2px;
}
 

