body{
    margin:0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 40px;
    color: white;
    background-color: rgb(37, 34, 34);
    height:150px;
    width: 700px;
    text-align: center;
}

.back{
    background-image: url("images/vhsimg.jpeg");
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

/* HEADER STYLE */
.headerContainer{
    background-color: rgb(248, 240, 231);
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 140px;
}

.headerRow{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#searchInput{
    width: 200px;
    height: 30px;
    margin-top: 28px;
    text-align: center;
    border: none;
    font-family: 'Open Sans', sans-serif;
}
#searchSym{
    background:none;
    border:none;
    font-size: 18px;
    cursor: pointer;
}

#headerItem1{
    margin-right: 100px;
}

.headerItemBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonHeader{
    background:none;
    border:none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* LOGIN STYLE */

.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;

}

.loginBox{
    width:35%;
    height: 400px;
    background-color: grey;
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;

}

.inputLogin{
    width: 200px;
}
#inputLoginUser{
    margin-top: -100px;
}

.loginTextContainer{
    margin:auto;
    margin-top: 20px;
}

.loginText{
    margin-top: 0px;
}


/** FOOTER STYLE **/

footer {
    background-color: white;
    
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    height: 120px;
}

/* CART STYLE */
.cartImage{
    width: 50px;
}

@media all and (max-width: 600px) {

   .headerRow{
       flex-direction: column;
   }

}

/*css för katergorier för filmer*/
.showMoviesDiv{
    /*background-color: red;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.movieCardDiv {
    /*background-color: green;*/
    margin: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.kategoriImg{
    width: 200px;
}

/*.subCategoriesDiv {
    background-color: red;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}*/

/*CSS FÖR DROPDOWN-MENY*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .Filmer {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subButton {
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .Filmer {
    background-color: #E2DCDC;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar {
    background-color: #F1EDED;
    display: flex;
    flex-direction: row wrap;
}

.subButton {
    border: none;
    outline: none;
}

/*css slut dropdownmenu*/