body{
    margin:0px;
    width: 100%;
    font-family: 'Playfair Display', serif;

}

h1{
    font-size: 40px;
    color: white;
    background-color: rgb(37, 34, 34);
    height:150px;
    width: 700px;
    text-align: center;
}

.back{
    background-image: url("images/vhsimg.jpg");
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

/* HEADER STYLE */
.headerContainer{
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 140px;
    top: 0px;
}

.headerRow{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    
}

.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.webshopLogo{
    text-decoration: none;
    color: black;
}

#searchInput{
    width: 200px;
    height: 30px;
    margin-top: 28px;
    text-align: center;
    border: none;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: black;
    background-color: rgb(243, 244, 250);

}
#searchSym{
    background:none;
    border:none;
    font-size: 18px;
    cursor: pointer;
}

#headerItem1{
    margin-right: 100px;
}

.headerItemBox{
   /* display: flex;
    justify-content: center;
    flex-direction: column;*/
}

.buttonHeader{
    background:none;
    border:none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;

}

/* LOGIN STYLE */

.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;

}

.loginBox{
    width:500px;
    height: 400px;
    background-color: rgb(176, 179, 194);
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;

}

.loginTextContainer{
    margin:auto;
    margin-top: 80px;
}

.inputLogin{
    width: 230px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    border:none;
    margin-top:5px;
}
#inputLoginUser{
    margin-top: -100px;
}

.loginText{
    margin-top: 0px;
}

label { float: left; width: 10em; margin-right: 1em; }

#loginButton{
    height: 35px;
    width: 150px;
    margin: auto;
    margin-top: 10px;
}

.wrapper {
    text-align: center; 
     font-family: 'Playfair Display', serif;
   
}

.wrapper table {
    margin: auto;
   
}

/** FOOTER STYLE **/

footer {
    background-color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: rgb(231, 233, 243);
    height: 120px;
 
 
}

/* CART STYLE */
.cartImage{
    width: 50px;
}



/*css för katergorier för filmer*/
.showMoviesDiv{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1000px;
}

.movieCardDiv {
    /*background-color: green;*/
    margin:10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.kategoriImg{
    width: 200px;
}

.subCategoriesDiv {
    display: flex; 
    flex-flow:row wrap;
    justify-content: center;
    background-color: rgb(72, 72, 77);
    max-width: 100%;
    min-height: 70px;
    align-items: center;
    font-family: 'Playfair Display', serif;

}

/*CSS för meny */
.navbar {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 46, 48);
    color: white;
    min-height: 60px;
    max-width: 100%;
    font-family: 'Playfair Display', serif;
}

.huvudKategoriButton {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.movieYear {
    font-style: italic;
    font-size: 12px;
    color: grey;
    margin: 0px;
}

.subButton {
    border: none;
    outline: none;
    background-color: rgb(72, 72, 77);
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin:10px;
    cursor: pointer;
}



#container {
    /*för produkter och produktsida*/
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #E8E8E8;
}

/******kunvagnen******/

.cartContainer{
    width: 100%;
    min-height: 150px;
   /* background-color: blueviolet;*/
    display: flex;
    justify-content: center;
}

.cartTable1{
    margin-top:40px;
    width: 90%;
}

.cartTable2{
    margin-top:40px;
}

#remove{
    border:none;
    background: none;
    cursor: pointer;
}

#remove:hover{
    color: rgb(255, 30, 30);
}

/*.cartTable2{
    width: 90%;
}*/

#buy{
    border:none;
    background-color: rgb(92, 240, 158);
    cursor: pointer;
    width: 180px;
    height: 30px;
    margin-top: 20px;
}

#buy:hover{
   background-color:  rgb(58, 223, 132);
}

#totalPrice{
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.cartTitle{
    /*text-align:center;*/
    font-size:30px;
    padding-left:80px;
    padding: 20px 20px;
    font-weight: bold;
}

.cartBox1{
   /* background-color: fuchsia;*/
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cartBox2{
    background-color: rgb(240, 240, 240);
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.row1{
    margin: auto;
     width: 100%;
}

/*th{
    width: 30%;
}*/
/**************************** ADMIN STYLING *************/
#adminHeader{
    /* text-align: center; */
    margin: auto;
}
.getAllMembersForm{
    text-align: center;
    margin: auto;
}
#adminButtonMeny{
    /* margin: auto; */
    background-color: grey;
    color: white;
    border: none;
    height: 3em;
    font-size: 1em;
    
}

.sendOrderButton{
    margin: auto;
    background-color: grey;
    color: white;
    border: none;
    height: 2em;
    font-size: 1em;
}
.sendNewletters, .updateProducts{
    text-align: center;

}

#showOrders, #getMembers, #showAllProducts{
    text-align: center;
}

.welcomeAdmin{
    text-align: center;
}








/**************************** SLUT  ADMIN STYLING *******/

@media all and (max-width: 600px) {

    .loginBox{
        width:100%;
        height: 400px;
        background-color: grey;
        margin:auto;
        margin-top:40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .headerRow{
        flex-direction: column;
    }
 
    .cartContainer{
     flex-direction: column;
     width: 100%;
 }
 
     .cartBox1, .cartBox2{
     min-width: 100%;
     }
 
     .omOss{
         margin:none;
     }


        .movieCardDiv {
            /*background-color: green;*/
            background: linear-gradient(rgb(255, 255, 255), rgb(251, 251, 253));
            padding-top: 20px;
            margin:none;
            min-width: 100%;

        }
     }
 
 

