body{
    margin:0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 40px;
    color: white;
    background-color: rgb(37, 34, 34);
    height:150px;
    width: 700px;
    text-align: center;
}

.back{
    background-image: url("images/vhsimg.jpeg");
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

/* HEADER STYLE */
.headerContainer{
    background-color: rgb(248, 240, 231);
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 140px;
}

.headerRow{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#searchInput{
    width: 200px;
    height: 30px;
    margin-top: 28px;
    text-align: center;
    border: none;
    font-family: 'Open Sans', sans-serif;
}
#searchSym{
    background:none;
    border:none;
    font-size: 18px;
}

#headerItem1{
    margin-right: 100px;
}

.headerItemBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonHeader{
    background:none;
    border:none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* LOGIN STYLE */

.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;

}

.loginBox{
    width:30%;
    height: 350px;
    background-color: grey;
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;

}

.inputLogin{
    width: 200px;
}
#inputLoginUser{
    margin-top: -100px;
}

.loginTextContainer{
    margin:auto;
}

.loginText{
    margin-top: 0px;
}


/** FOOTER STYLE **/

footer {
    background-color: white;
    
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    height: 120px;
}

/* CART STYLE */
.cartImage{
    width: 50px;
}

@media all and (max-width: 600px) {

   .headerRow{
       flex-direction: column;
   }

}

/*filmer*/
.showMoviesDiv{
    /*background-color: red;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.movieCardDiv {
    /*background-color: green;*/
    margin: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.kategoriImg{
    width: 200px;
}

/*.subCategoriesDiv {
    background-color: red;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}*/