body{
    margin:0px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 40px;
    color: white;
    background-color: rgb(37, 34, 34);
    height:150px;
    width: 700px;
    text-align: center;
}

.back{
    background-image: url("images/vhsimg.jpeg");
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

/* HEADER STYLE */
.headerContainer{
    background-color: rgb(248, 240, 231);
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 140px;
    top: 0px;
}

.headerRow{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#searchInput{
    width: 200px;
    height: 30px;
    margin-top: 28px;
    text-align: center;
    border: none;
    font-family: 'Open Sans', sans-serif;
}
#searchSym{
    background:none;
    border:none;
    font-size: 18px;
    cursor: pointer;
}

#headerItem1{
    margin-right: 100px;
}

.headerItemBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonHeader{
    background:none;
    border:none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* LOGIN STYLE */

.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;

}

.loginBox{
    width:35%;
    height: 400px;
    background-color: grey;
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;

}

.inputLogin{
    width: 200px;
}
#inputLoginUser{
    margin-top: -100px;
}

.loginTextContainer{
    margin:auto;
    margin-top: 20px;
}

.loginText{
    margin-top: 0px;
}


/** FOOTER STYLE **/

footer {
    background-color: white;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    height: 120px;
    background-color: rgb(248, 240, 231);
    position: relative;
 
}

/* CART STYLE */
.cartImage{
    width: 50px;
}

@media all and (max-width: 600px) {

   .headerRow{
       flex-direction: column;
   }

}

/*css för katergorier för filmer*/
.showMoviesDiv{
    /*background-color: red;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 900px;
}

.movieCardDiv {
    /*background-color: green;*/
    margin: 10px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.kategoriImg{
    width: 200px;
}

.subCategoriesDiv {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

/*CSS för meny */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
}

.huvudKategoriButton {
    border: none;
    outline: none;
    background: black;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
}

.subButton {
    border: none;
    outline: none;
    background-color: #E8E8E8;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #E8E8E8;
}

/**************************** ADMIN STYLING *************/
#adminHeader{
    /* text-align: center; */
    margin: auto;
}
.getAllMembersForm{
    text-align: center;
    margin: auto;
}
#adminButtonMeny{
    /* margin: auto; */
    background-color: grey;
    color: white;
    border: none;
    height: 3em;
    font-size: 1em;
    
}

.sendOrderButton{
    margin: auto;
    background-color: grey;
    color: white;
    border: none;
    height: 2em;
    font-size: 1em;
}
.sendNewletters, .updateProducts{
    text-align: center;

}

#showOrders, #getMembers, #showAllProducts{
    text-align: center;
}

.welcomeAdmin{
    text-align: center;
}








/**************************** SLUT  ADMIN STYLING *******/



