body{
    margin:0px;
    width: 100%;
}

/* HEADER STYLE */
.headerContainer{
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

.headerRow{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.headerItem{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#searchInput{
    width: 200px;
    height: 30px;
    text-align: center;
}

#headerItem1{
    margin-right: 100px;
}

.headerItemBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* LOGIN STYLE */

.loginContainer{
    width: 100%;
    display: flex;
    justify-content: center;

}

.loginBox{
    width:30%;
    height: 350px;
    background-color: grey;
    margin:auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:auto;

}

.inputLogin{
    width: 200px;
}
#inputLoginUser{
    margin-top: -100px;
}

.loginTextContainer{
    margin:auto;
}

.loginText{
    margin-top: 0px;
}


/** FOOTER STYLE **/

footer {
    background-color: white;
    
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: gray;
    height: 120px;
}

/* CART STYLE */
.cartImage{
    width: 50px;
}

@media all and (max-width: 600px) {

   .headerRow{
       flex-direction: column;
   }

}

/*filmer*/
.showMoviesDiv{
    /*background-color: red;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.movieCardDiv {
    /*background-color: green;*/
    margin: 10px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kategoriImg{
    width: 200px;
}